/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";






*:focus {
    outline: none;
  }
  
  .full-height {
    height: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .float-right {
    float: right;
  }
  
  .float-left {
    float: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .relative {
    position: relative;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .content-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  
  .content-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  
  .margin-top-10 {
    margin-top: 10px !important;
  }
  
  .margin-top-20 {
    margin-top: 20px !important;
  }
  
  .margin-top-30 {
    margin-top: 30px !important;
  }
  
  .margin-top-40 {
    margin-top: 40px !important;
  }
  
  .margin-bottom-10 {
    margin-bottom: 10px !important;
  }
  
  .margin-bottom-20 {
    margin-bottom: 20px !important;
  }
  
  .margin-bottom-30 {
    margin-bottom: 30px !important;
  }
  
  .margin-bottom-40 {
    margin-bottom: 40px !important;
  }
  
  .text-capitalize {
    text-transform: capitalize;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .ui-container .mdl-shadow--2dp {
    box-shadow: none;
}